
.bgstraw{
    background-image: url("../img/strawhatresized.png");
    background-size: cover;
    background-repeat: no-repeat;
    

    // background-position: center top;
    // position: absolute;
    // margin-bottom:40px;
    // z-index: 99px;
}

