 @import url('https://fonts.googleapis.com/css?family=Caveat:400,700|Pacifico|Sacramento&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


/*
    General Styles
*/
.card{
    border:3px solid rgb(3, 182, 3)!important;
}

.about{

}

.pgtitles{
    font-family: 'Caveat', 'Pacifico', 'Sacramento', Helvetica, sans-serif, bold;

    // text-decoration: underline;
}

.card-text{
    font-family:'Permanent Marker', cursive;
}

.fontSize{
    font-size: 25px, bold;
}

.fontColor{
    color: white;
}

.singlecrop{
    background-position:absolute;
    display: block;
    margin-top: 50;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

// .responsive {
//   width: 100%;
//   height: auto;
// }