.section {
    padding-top: 60px;
    min-height: 600px!important;
    cursor: url('../../img/presentation/soap.png'), auto;	
}
.firstPage {
    background-color: white;
}
.i {
    color: #7CD1F9!important;
}
.bouttons {
    text-align: right!important;
    padding: 20px;
}
.buttonStyle {
    padding: 11px 30px;
    border: none;
    color: #000000;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border: 2px solid #BBD5E4;
    background: #7CD1F9;
    display: inline-block;
}
.buttonStyle:hover {
    color: blue;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}
.headerPage1 {
    background-color: black;
    color: white;
    font-size: 4vh;
    height: 60%;
}
.icon4geeks {
    text-align: right!important;
    padding: 20px;
}
.header {
    background-color: black;
    color: white;
    height: 20%;
    padding-top: 40px;
}
.listNumber {
    list-style-type:decimal;
    color: black;
    font-size: 4vh;
}
.listExperience {
    color: black;
    font-size: 4vh;
}
.title {
    padding-left: 40px;
    font-weight: bold;
}
.firstPage h1 {
    text-align: center;
}
.secondPage {
    text-align: center;
}
.thirdPage {
    text-align: center;
}
.forthPage {
        text-align: center;
}
/* Start tortuga */
.tortuga {
    position: fixed;
    bottom:100px;
    left: 0;
    animation:linear infinite;
    animation-name: runtortuga;
    animation-duration: 30s;
    }     
  @keyframes runtortuga {
        0% { left: -60%;}
        50%{ left : 50%;}
        100%{ left : 100%;}
    }
  /* End tortuga */